/* FUENTES
font-family: 'Dancing Script', cursive;

font-family: 'Handlee', cursive;
*/

.clearfix{
	border:2px dotted white;
	overflow: hidden;
	height: 40%;	
	overflow:auto;

}

ul{
	color:black;
	list-style-type: none;

}

li{
	float: left;
	height:4em;
	margin:1em 2em;
	font-size:20px;
}

.menu1{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:;
	background-color: #04B4AE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.menu1:hover{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	color:#A9F5E1;
}

.menu2{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:18em;
	background-color: #04B4AE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.menu2:hover{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:18em;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	color:#A9F5E1;
}

.menu3{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:33em;
	background-color: #04B4AE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.menu3:hover{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:33em;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	color:#A9F5E1;
}

.menu4{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:48em;
	background-color: #04B4AE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.menu4:hover{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:48em;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	color:#A9F5E1;
}

.menu5{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:63em;
	background-color: #04B4AE;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.menu5:hover{
	text-align: center;
	height:16em;
	width:14em;
	position: absolute;
	left:63em;
	background-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	color:#A9F5E1;
}

h4{
	font-family: 'Dancing Script', cursive;
}

p{
	font-family: 'Handlee', cursive;
	font-size: 15px;
	text-align: justify;
}
